/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

#frame {
    position: fixed; /* Fix the position */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Cover the entire background */
    z-index: -1; /* Send the image to the background */
}
